
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload a File</h2>


@using (Html.BeginForm("UploadFile", "FileManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-lg-12">
        <div class="col-lg-6">
            @Html.TextBox("file", "", new { type = "file", @class = "form-control" }) <br />
        </div>
        <div class="col-lg-6">
            <input class="btn btn-primary" type="submit" value="Upload" />
        </div>
        @ViewBag.Message
    </div>
}